body {
  background-color: rgb(238, 237, 237);
}

header {
  width: 100%;
  height: 100vh;
}

.Div1 {
  display: flex;
  background-color: rgb(24, 22, 22);
  width: 100%;
  height: 60px;
  justify-content: space-around;
}

ul {
  margin-top: 20px;
  display: flex;
  list-style: none;
  gap: 10px;
  color: rgb(140, 137, 137);
}

a {
  color: white;
  text-decoration: none;
}

h2 {
  margin-top: 13px;
  color: white;
}

.Div2 {
  margin-top: 50px;
  display: grid;
  text-align: center;
}

h1 {
  font-size: 40px;
}

p {
  font-size: 20px;
  color: rgb(51, 50, 50);
}

li {
  cursor: pointer;
}

li:hover {
  color: red;
  transition: 1s;
}

a:hover {
  color: red;
  transition: 1s;
}